{% extends "layout/base.html" %}
{% load static %}

{% block title %}标签 | {{ config.sub_title }}{% endblock %}

{% block content %}
<section class="page-header bg-light py-4 py-lg-5">
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-12 col-lg-9">
                <h1 class="h3">
                    <span class="nice-m-line">标签</span>
                </h1>
            </div>
        </div>
    </div>
</section>

<main class="py-4 py-lg-5">
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-12 col-lg-9">
                <section class="py-4 py-lg-5">

                    <div class="post page type-page status-publish hentry">
                        <div class="tagcloud">
                            {% for tag in object_list %}
                            <a href="{% url 'tag-detail' tag.name %}" class="tag-cloud-link" style="font-size: 8pt;" aria-label="{{ tag.name|upper }}({{ tag.count }})">
                                {{ tag.name|upper }}({{ tag.article_count }})
                            </a>
                            {% endfor %}
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</main>
{% endblock %}
