@import "../utils/markdown";

.detail {
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;

  .title {
    font-size: 20px;
  }

  .articleFooter {
    color: #999;
    font-size: 13px;

    i {
      color: #999;
    }
  }
}

.comment {
  border-radius: 3px;
  padding: 20px;
  background-color: #fff;
}
